In [1]:
import pandas as pd
import numpy as np

In [2]:
CCTV_Seoul = pd.read_csv('./data/CCTV_preprocessing.csv', encoding='utf-8')
pop_Seoul  = pd.read_csv('./data/pop_preprocessing.csv', encoding='utf-8')

In [4]:
CCTV_Seoul = CCTV_Seoul[CCTV_Seoul.columns[1:]]
pop_Seoul  = pop_Seoul[pop_Seoul.columns[1:]]

In [5]:
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
0  강남구  2780       1292    430    584    932  150.619195
1  강동구   773        379     99    155    377  166.490765
2  강북구   748        369    120    138    204  125.203252
3  강서구   884        388    258    184     81  134.793814
4  관악구  1496        846    260    390    613  149.290780

In [6]:
pop_Seoul.head()

    구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
0  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
1   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
2  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
3  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
4  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849