## CCTV, 인구수 데이터를 이용해 다른 분석을 해볼 것

1. 가설
2. 가설 검증을 위한 데이터 전처리 ( 판다스를 다루는 것 )
3. 가설을 시각화
4. 가설 평가
5. 비즈니스 적용 방안

# 1. 가설
* 한국인여성의 수가 가장 적은 구는 어디일까?
* 여성인구 수와 CCTV의 개수에 관련이 있을까?

# 2. 가설 검증을 위한 데이터 전처리

In [3]:
import pandas as pd

In [22]:
pop_Woman = pd.read_excel('./data/01. population_in_Seoul.xls',
                          header = 2, # 엑셀상의 2번째 행 부터 데이터를 읽어 올 것-> 세 번째 행부터 데이터를 읽어온다.
                          usecols='B, D, I',
                          encoding='utf-8')
pop_Woman.head()

   자치구           계       여자.1
0   합계  10197604.0  5055408.0
1  종로구    162820.0    77978.0
2   중구    133240.0    62656.0
3  용산구    244203.0   118289.0
4  성동구    311244.0   153304.0

In [23]:
pop_Woman_columns = pop_Woman.columns

pop_Woman.rename(columns={
    pop_Woman_columns[0] : '구별',
    pop_Woman_columns[1] : '총인구',
    pop_Woman_columns[2] : '한국인여자'
}, inplace=True)

pop_Woman.head()

    구별         총인구      한국인여자
0   합계  10197604.0  5055408.0
1  종로구    162820.0    77978.0
2   중구    133240.0    62656.0
3  용산구    244203.0   118289.0
4  성동구    311244.0   153304.0

In [24]:
pop_Woman['한국여자비율'] = pop_Woman['한국인여자'] / pop_Woman['총인구'] *100
pop_Woman.head()

    구별         총인구      한국인여자     한국여자비율
0   합계  10197604.0  5055408.0  49.574469
1  종로구    162820.0    77978.0  47.892151
2   중구    133240.0    62656.0  47.024917
3  용산구    244203.0   118289.0  48.438799
4  성동구    311244.0   153304.0  49.255247

In [25]:
pop_Woman.drop([0], inplace=True)

In [28]:
pop_Woman.sort_values(by='한국여자비율', ascending=True).head()

      구별       총인구     한국인여자     한국여자비율
18   금천구  255082.0  116019.0  45.483021
19  영등포구  402985.0  184367.0  45.750338
17   구로구  447874.0  209373.0  46.748193
2     중구  133240.0   62656.0  47.024917
21   관악구  525515.0  251113.0  47.784174

In [29]:
pop_Woman.to_csv('./data/pop_woman_preprocessing.csv', encoding='utf-8')